{% extends 'base.html' %}

{% block body %}
    <div class="container row mx-auto bg-gradient p-3" id="home">
        <div class="col">
            <img class="img-fluid rounded-circle mx-auto d-block float-end" src="static/eu.jpg" alt="Me" width="240" height="320">
            <img class="img-fluid rounded-circle mx-auto d-block float-end" src="static/nos.jpg" alt="Us" width="960" height="540">
        </div>
        <div class="col" >
            <div class="d-grid gap-3">
                <h1>Hello, I'm Lukas Freitas</h1>
                <h2>A little bit about me:</h2>
                <h3>Lorem ipsum dolor sit amet. Ut optio quos qui nihil nulla vel dolores nesciunt non tempore porro qui dolorum. Aut necessitatibus quisquam ut ipsum reiciendis ea sunt voluptas ut voluptate provident.

    Aut omnis earum a dolorem vitae ut eaque ipsum. Cum eveniet illum sed minus ipsa aut nisi dolor non vitae saepe. Sed nihil consectetur aut beatae nemo non ipsa dolores eos molestias dicta aut corporis impedit. Ut distinctio iusto hic ipsam sunt qui corrupti officiis aut omnis atque.

    Non magni 33 dicta dolorum ut voluptas quidem sit saepe voluptatem et illum omnis? Et iusto corrupti et minima sapiente et mollitia natus aut quisquam iure? Eum pariatur quisquam et itaque quia in dolores necessitatibus et molestias dolorem et fugit molestias 33 rerum amet.</h3>
            </div>
            <div class="m-3">
                <a class="text-decoration-none p-2" href="#resume">
                    <button type="button" class="btn btn-danger rounded-pill border btn-lg">Resume</button>
                </a>
                <a class="text-decoration-none p-2" href="#projects">
                    <button type="button" class="btn btn-success rounded-0 border btn-lg">Projects</button>
                </a>
                <a class="text-decoration-none p-2" href="#contact">
                    <button type="button" class="btn btn-primary rounded-circle border btn-lg">Contact</button>
                </a>
            </div>
        </div>
    </div>
{% include 'resume.html' %}
{% include 'projects.html' %}
{% include 'contact.html' %}
{% endblock %}