<!-- Begin vertical navbar -->
<div class="vertical-nav bg-dark" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-dark">
    <div class="media d-flex align-items-center">
        <img src="" alt="Me" id="me" width="100" class="mr-3 rounded-circle img-thumbnail shadow-sm mx-auto">
    </div>
      <div class="media-body">
        <h3 class="m-0">Maury Lukas Oliveira Freitas</h3>
        <h5 class="font-weight-light text-muted mb-0">Programmer</h5>
      </div>
  </div>

    <!-- Main Section -->
  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

  <ul class="nav flex-column bg-dark mb-0">
      <!-- Home -->
    <li class="nav-item">
        <a href="#content" class="nav-link text-light font-italic bg-dark">
            <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
            Home
        </a>
    </li>
      <!-- Resume -->
    <li class="nav-item">
        <a href="#resume" class="nav-link text-light font-italic bg-dark">
            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
            Resume
        </a>
    </li>
      <!-- Projects -->
    <li class="nav-item">
        <a href="#projects" class="nav-link text-light font-italic bg-dark">
            <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
            Projects
        </a>
    </li>
      <!-- Gallery -->
    <!--
    <li class="nav-item">
        <a href="#" class="nav-link text-light font-italic bg-dark">
            <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
            Gallery
        </a>
    </li>
    -->
  </ul>

    <br>

    <!-- Contact Section -->
  <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Contact</p>

  <ul class="nav flex-column bg-dark mb-0">
      <!-- E-mail -->
    <li class="nav-item">
        <a class="nav-link text-light font-italic bg-dark" id="email">
            <i class="fa fa-envelope mr-3 text-primary fa-fw"></i>
            maurylukas@yahoo.com
        </a>
    </li>
      <!-- Linkedin -->
    <li class="nav-item">
        <a href="https://www.linkedin.com/in/maurylukas/" target="_blank" class="nav-link text-light font-italic bg-dark" id="linkedin">
            <i class="fa fa-linkedin mr-3 text-primary fa-fw"></i>
            Go to my LinkedIn
        </a>
    </li>
      <!-- Github -->
    <li class="nav-item">
        <a href="https://github.com/maurylukas" target="_blank" class="nav-link text-light font-italic bg-dark" id="github">
            <i class="fa fa-github mr-3 text-primary fa-fw"></i>
            Go to my Github
        </a>
    </li>
      <!-- Europass -->
    <li class="nav-item">
        <a href="https://europa.eu/europass/eportfolio/api/eprofile/shared-profile/fe11402e-ff5c-47c3-8265-74ea713de9cf?view=html" target="_blank" class="nav-link text-light font-italic bg-dark" id="europass">
            <i class="fa fa-clone mr-3 text-primary fa-fw"></i>
            Go to my Europass
        </a>
    </li>
  </ul>
</div>
<!-- End vertical navbar -->