<div class="container row mx-auto bg-gradient p-3" id="projects">
    <h1>Projects</h1>
    <div class="row mx-auto align-items-center">
        <div class="col d-grid gap-3">
            <h2>Spacial</h2>
            <h3>My first project. I made it back in 2015, when I was on my first year on college, using HTML and JavaScript. It's a starship game where you have to shoot asteroids and also try to avoid being hit by them as the difficulty (and their numbers) increases.</h3>
            <a href="#" target="_blank">Link to the Game</a>
        </div>
        <div class="col d-grid gap-3">
            <img class="img-fluid mx-auto d-block float-end" src="static/spacial.jpg" alt="Game screenshot" width="755" height="443.5">
        </div>
    </div>
    <div class="row mx-auto"><br></div>
    <div class="row mx-auto align-items-center">
        <div class="col d-grid gap-3">
            <h2>Colony</h2>
            <h3>A project about a smartphone game app using C# on Unity engine to help college students to learn and pin knowledge about Microbiology.</h3>
            <a href="/static/GDDL.pdf" target="_blank">Link to the Game Design Document (pdf file in Portuguese)</a>
        </div>
        <div class="col d-grid gap-3">
            <img class="img-fluid mx-auto d-block float-end" src="static/telas.jpg" alt="App screens" width="450" height="628">
        </div>
    </div>
    <div class="row mx-auto"><br></div>
    <div class="row mx-auto align-items-center">
        <div class="col d-grid gap-3">
            <h2>Game Design Documents</h2>
        </div>
        <div class="col d-grid gap-3">
            <h2>GDDs for the projects above.</h2>
        </div>
    </div>
</div>