<!-- Begin projects section -->
<div class="separator"></div>
<h4 class="text-white" id="projects">Projects</h4>
<div class="row text-white">
    <div class="col-lg-7">
      <div class="mb-5">

          <!-- Beginning of Collapse Panel Spacial -->
        <a data-toggle="collapse" href="#spacial" role="button" aria-expanded="true" aria-controls="spacial" class="btn btn-dark btn-block py-2 shadow-sm with-chevron">
          <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
            <strong class="">Spacial</strong>
            <i class="fa fa-angle-down"></i>
          </p>
        </a>
        <div id="spacial" class="collapse shadow-sm show">
          <div class="shadow-lg">
            <div class="card-body">
              <p class="font-italic mb-0 text-white">My first project. I made it back in 2015, when I was on my first year at college, using HTML, CSS and JavaScript.
                It's a cross-browser starship game where you have to shoot asteroids and also try to avoid being hit by them as the difficulty (and their numbers) increases.</p>
              <br>
              <img class="img-fluid mx-auto d-block float-end" src="static/img/spacial.jpg" alt="Spacial game screenshot" width="755" height="443.5">
              <a class="text-dark" href="https://spacialgame.herokuapp.com" target="_blank">Link to play the Game</a>
              <br>
              <a class="text-dark" href="/static/doc/GDD.pdf" target="_blank">Link to the Game Design Document (pdf file in Portuguese)</a>
            </div>
          </div>
        </div>
          <!-- Ending of Collapse Panel Spacial -->

      </div>
    </div>
    <div class="col-lg-5">
      <div class="mb-5">

          <!-- Beginning of Collapse Panel Data Science -->
        <button data-toggle="collapse" data-target="#datascience" role="button" aria-expanded="true" aria-controls="datascience" class="btn btn-dark btn-block py-2 shadow-sm with-chevron">
          <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
            <strong class="">Data Science</strong>
            <i class="fa fa-angle-down"></i>
          </p>
        </button>
        <div id="datascience" class="collapse shadow-sm show">
          <div class="shadow-lg">
            <div class="card-body">
              <p class="font-italic mb-0 text-white">Exploratory Data Analysis and Machine Learning Algorithmic Models to help people predict Airbnb rental prices in Lisbon, Portugal.</p>
              <br>
              <img class="img-fluid mx-auto d-block float-end" src="static/img/kag.jpg" alt="Kaggle site screenshot" width="439" height="510.5">
              <a class="text-dark" href="https://www.kaggle.com/maurylukas/listings/code" target="_blank">Link to the Notebook on Kaggle website</a>
            </div>
          </div>
        </div>
          <!-- Ending of Collapse Panel Data Science -->

      </div>
    </div>
    <div class="col-lg-7">
      <div class="mb-5">

          <!-- Beginning of Collapse Panel Colony -->
        <button data-toggle="collapse" data-target="#colony" role="button" aria-expanded="true" aria-controls="colony" class="btn btn-dark btn-block py-2 shadow-sm with-chevron">
          <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
            <strong class="">Colony</strong>
            <i class="fa fa-angle-down"></i>
          </p>
        </button>
        <div id="colony" class="collapse shadow-sm show">
          <div class="shadow-lg">
            <div class="card-body">
              <p class="font-italic mb-0 text-white">A smartphone game app design using C# on Unity engine to help college students learning and pinning knowledge about Microbiology.</p>
              <br>
              <img class="img-fluid mx-auto d-block float-end" src="static/img/telas.jpg" alt="Colony app screens" width="400" height="658">
              <a class="text-dark" href="/static/doc/GDDL.pdf" target="_blank">Link to the Game Design Document (pdf file in Portuguese)</a>
            </div>
          </div>
        </div>
          <!-- Ending of Collapse Panel Colony -->

      </div>
    </div>
    <div class="col-lg-5">
      <div class="mb-5">

          <!-- Beginning of Collapse Panel My App -->
        <a data-toggle="collapse" href="#myapp" role="button" aria-expanded="true" aria-controls="myapp" class="btn btn-dark btn-block p2-3 shadow-sm with-chevron">
          <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
            <strong class="">My CV</strong>
            <i class="fa fa-angle-down"></i>
          </p>
        </a>
        <div id="myapp" class="collapse shadow-sm show">
          <div class="shadow-lg">
            <div class="card-body">
              <p class="font-italic mb-0 text-white">My application version of this site. Same content available offline in your mobile. Go check it out!</p>
              <br>
              <img class="img-fluid mx-auto d-block float-end" src="static/img/app.jpg" alt="CV app screen" width="286" height="636">
              <a class="text-dark" target="_blank">Link to download the App (coming soon)</a>
            </div>
          </div>
        </div>
          <!-- Ending of Collapse Panel My App -->

      </div>
    </div>
    <div class="col-lg-6">
      <div class="mb-5">

          <!-- Beginning of Collapse Panel Maze -->
        <a data-toggle="collapse" href="#maze" role="button" aria-expanded="true" aria-controls="maze" class="btn btn-dark btn-block p2-3 shadow-sm with-chevron">
          <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
            <strong class="">Maze</strong>
            <i class="fa fa-angle-down"></i>
          </p>
        </a>
        <div id="maze" class="collapse shadow-sm show">
          <div class="shadow-lg">
            <div class="card-body">
              <p class="font-italic mb-0 text-white">My first 3D project. I made it back in 2016, when I was on my second year at college, using C# on Unity engine.
                It's a First Person Shooter game where you have to find your way out of a maze. But before doing that, you have to find the flaming sphere guiding yourself by its sound.
                Just be careful about the enemies, they may look cute but surely they are deadly. Everytime you kill one of them, the game is saved, though.</p>
              <br>
              <img class="img-fluid mx-auto d-block float-end" src="static/img/labirinto 1.jpg" alt="Maze game screenshots" width="683" height="768">
              <br>
              <img class="img-fluid mx-auto d-block float-end" src="static/img/labirinto 2.jpg" alt="Maze game screenshots" width="683" height="768">
              <a class="text-dark" href="/static/zip/Maze.zip" target="_blank">Link to download the Game (about 23.4 MB)</a>
            </div>
          </div>
        </div>
          <!-- Ending of Collapse Panel Maze -->

      </div>
    </div>
    <div class="col-lg-6">
      <div class="mb-5">

          <!-- Beginning of Collapse Panel Platform -->
        <a data-toggle="collapse" href="#mario" role="button" aria-expanded="true" aria-controls="mario" class="btn btn-dark btn-block p2-3 shadow-sm with-chevron">
          <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
            <strong class="">A platform game</strong>
            <i class="fa fa-angle-down"></i>
          </p>
        </a>
        <div id="mario" class="collapse shadow-sm show">
          <div class="shadow-lg">
            <div class="card-body">
              <p class="font-italic mb-0 text-white">A prototype of a platform game that three college colleagues and I made, where I helped programming and designing the levels.
                You control one of our team members that is late to class and, by the time he arrives, the college is overrun by creatures bearing our professor's faces.
                You receive explanations, from none other than Mario himself, that all of the characters from the games made by the students and installed in the college computers have escaped,
                but a powerful one have stayed behind and turned all of our professors into enemy sprites to be battled with before finally facing him.</p>
              <br>
              <img class="img-fluid mx-auto d-block float-end" src="static/img/fic 1.jpg" alt="Platform game screenshots" width="683" height="768">
              <br>
              <img class="img-fluid mx-auto d-block float-end" src="static/img/fic 2.jpg" alt="Platform game screenshots" width="683" height="768">
              <a class="text-dark" href="/static/zip/Platform.zip" target="_blank">Link to download the Game (about 94.2 MB)</a>
            </div>
          </div>
        </div>
          <!-- Ending of Collapse Panel Platform -->

      </div>
    </div>
    <div class="col-lg-6">
      <div class="mb-5">

          <!-- Beginning of Collapse Panel Outback -->
        <a data-toggle="collapse" href="#outback" role="button" aria-expanded="true" aria-controls="outback" class="btn btn-dark btn-block p2-3 shadow-sm with-chevron">
          <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
            <strong class="">Outback</strong>
            <i class="fa fa-angle-down"></i>
          </p>
        </a>
        <div id="outback" class="collapse shadow-sm show">
          <div class="shadow-lg">
            <div class="card-body">
              <p class="font-italic mb-0 text-white">A Third Person Shooter game we made back at the last year of Futura Games, where I programmed, scriptwrote and designed the map/terrain.
                You play as countryside girl trying to survive an infestation of werewolves at night with just her shotgun and a lantern.
                You can adjust the difficulty and attempt to make your name to the Haal of Fame.</p>
              <br>
              <img class="img-fluid mx-auto d-block float-end" src="static/img/sertao 5.jpg" alt="Ouback game screenshots" width="683" height="768">
              <br>
              <img class="img-fluid mx-auto d-block float-end" src="static/img/sertao 6.jpg" alt="Ouback game screenshots" width="683" height="768">
              <a class="text-dark" href="/static/zip/Outback.zip" target="_blank">Link to download the Game (about 20.2 MB)</a>
            </div>
          </div>
        </div>
          <!-- Ending of Collapse Panel Outback -->

      </div>
    </div>
    <div class="col-lg-6">
      <div class="mb-5">

          <!-- Beginning of Collapse Panel Fight -->
        <a data-toggle="collapse" href="#fight" role="button" aria-expanded="true" aria-controls="fight" class="btn btn-dark btn-block p2-3 shadow-sm with-chevron">
          <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
            <strong class="">A fighting game</strong>
            <i class="fa fa-angle-down"></i>
          </p>
        </a>
        <div id="fight" class="collapse shadow-sm show">
          <div class="shadow-lg">
            <div class="card-body">
              <p class="font-italic mb-0 text-white">A prototype of a fighting game that a group of classmates from college and I made, where I helped programming.
                It was never properly finished as viable product. But two people can still have some fun controlling those picturesque figures.</p>
              <br>
              <img class="img-fluid mx-auto d-block float-end" src="static/img/luta 1.jpg" alt="Fighting game screenshots" width="683" height="768">
              <br>
              <img class="img-fluid mx-auto d-block float-end" src="static/img/luta 3.jpg" alt="Fighting game screenshots" width="683" height="768">
              <a class="text-dark" href="/static/zip/Fight.zip" target="_blank">Link to download the Game (about 12.5 MB)</a>
            </div>
          </div>
        </div>
          <!-- Ending of Collapse Panel Fight -->

      </div>
    </div>
</div>
<!-- End projects section -->