<!-- Begin resume section -->
<div class="col-lg-6">
  <h4 class="text-white" id="resume">Resume</h4>
  <div class="mb-5">

      <!-- Beginning of Collapse Panel Work -->
    <a data-toggle="collapse" href="#work" role="button" aria-expanded="true" aria-controls="work" class="btn btn-dark btn-block py-2 shadow-sm with-chevron">
      <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
        <strong class="">Work Experience</strong>
        <i class="fa fa-angle-down"></i>
      </p>
    </a>
    <div id="work" class="collapse shadow-sm show">
      <div class="shadow-lg">
        <div class="card-body">
          <p class="font-italic mb-0 text-white">2006-2021: Computer software and hardware maintenance freelancer</p>
          <p class="font-italic mb-0 text-white">2018-2019: Independent investment advisor</p>
          <p class="font-italic mb-0 text-white">2016-2017: Programmer, designer, scriptwriter and co-founder of Futura Games</p>
        </div>
      </div>
    </div>
      <!-- Ending of Collapse Panel Work -->

  </div>
  <div class="mb-5">

      <!-- Beginning of Collapse Panel Education -->
    <button data-toggle="collapse" data-target="#education" role="button" aria-expanded="true" aria-controls="education" class="btn btn-dark btn-block py-2 shadow-sm with-chevron">
      <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
        <strong class="">Education</strong>
        <i class="fa fa-angle-down"></i>
      </p>
    </button>
    <div id="education" class="collapse shadow-sm show">
      <div class="shadow-lg">
        <div class="card-body">
          <p class="font-italic mb-0 text-white">2014-2016: Graduation on Digital Games at Estacio do Ceara University Center</p>
          <a class="text-dark" href="https://apostil.org.br/validation?number=1463554-21&crc=9754A7C9" target="_blank">Link to the diploma with the Hague apostille</a>
          <p class="font-italic mb-0 text-white">2002-2005: Graduation on Biological Sciences at Ceara State University</p>
          <a class="text-dark" href="https://apostil.org.br/validation?number=1676954-21&crc=CD8179B2" target="_blank">Link to the diploma with the Hague apostille</a>
        </div>
      </div>
    </div>
      <!-- Ending of Collapse Panel Education -->

  </div>
  <div class="mb-5">

      <!-- Beginning of Collapse Panel Skills -->
    <a data-toggle="collapse" href="#skills" role="button" aria-expanded="true" aria-controls="skills" class="btn btn-dark btn-block p2-3 shadow-sm with-chevron">
      <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
        <strong class="">Skills & Interests</strong>
        <i class="fa fa-angle-down"></i>
      </p>
    </a>
    <div id="skills" class="collapse shadow-sm show">
      <div class="shadow-lg">
        <div class="card-body">
          <p class="font-italic mb-0 text-white">Programming Languages: Python, HTML, CSS, JS, C#, Java, SQL (coming soon).</p>
          <p class="font-italic mb-0 text-white">Human Languages: Portuguese (Native), English (Fluent), Italian (Basic), German (Basic).</p>
          <p class="font-italic mb-0 text-white">Loves: Cats, Plants, Cryptocurrencies, Games, Movies, Series, K-pop songs.</p>
        </div>
      </div>
    </div>
      <!-- Ending of Collapse Panel Skills -->

  </div>
</div>
<!-- End resume section -->